@model Entities.Entities.EntityPrestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EntityPrestamo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePersona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePersona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPrestamo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoPrestamo)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.IdPrestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
