@model List<Entities.Entities.EntityPrestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>EntityPrestamo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>NombrePersona</th>
            <th>FechaInicio</th>
            <th>FechaFin</th>
            <th>EstadoPrestamo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombrePersona</td>
                <td>@item.FechaInicio</td>
                <td>@item.FechaFin</td>
                <td>@item.EstadoPrestamo</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
